/*.launch
/deployment/
**/deployment/
/apps/*/deployment/
/packages/
/releases/
/.settings
/.mendix-cache/
/.classpath
/.project
/*.mpr.bak
/*.mpr.lock
.svn
/.svn
/apps/*/*.mpr.lock
/apps/*/*.mpr.bak
/modeler-merge-marker
/project-settings.user.json
/javasource/*/proxies/
/javasource/system/
/**/node_modules/
!/javascriptsource/**/node_modules/
*.launch
/*.launch
.mda
/*.mda
GPUCache
/theme-cache/*
/theme-cache/web/theme.compiled.css
/sitafa.mpr.bak
/sitafa.mpr.lock
/nativemobile/builds/
/sitdepreciationtable.mpr.bak
/sitdepreciationtable.mpr.lock
